[phases.setup]
nixPkgs = [
  "python311",
  "python311Packages.pip",
  "python311Packages.setuptools",
  "python311Packages.wheel"
]

[phases.install]
cmds = [
  "pip --version",
  "pip install -r requirements.txt"
]

[start]
cmd = "python run_unified.py"
